---
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Headline from '~/components/ui/Headline.astro';
import FlavorCard from '~/components/widgets/FlavorCard.astro';

import type { ImageMetadata } from 'astro';

interface FlavorCardProps {
  title: string;
  description?: string;
  image: string | ImageMetadata;
  href: string;
  buttonText?: string;

}

interface Props {
  id?: string;
  tagline?: string;
  title?: string;
  subtitle?: string;
  items?: FlavorCardProps[];
  noAnimation?: boolean;

}

const {
  id,
  tagline,
  title,
  subtitle,
  items = [],
  noAnimation = false, 
} = Astro.props as Props;
---

<WidgetWrapper id={id} containerClass="relative z-0" noAnimation={noAnimation}>
  <Headline
    tagline={tagline}
    title={title}
    subtitle={subtitle}
    classes={{
      container: 'text-center max-w-3xl mx-auto',
      title: 'text-4xl md:text-5xl',
    }}
  />

  {items.length === 7 ? (
    <div class="grid grid-cols-1 md:grid-cols-3 md:grid-rows-3 gap-6 mt-10">
      <FlavorCard {...items[0]} class="md:row-start-1 md:col-start-1" />
      <FlavorCard {...items[1]} class="md:row-start-1 md:col-start-2" />
      <FlavorCard {...items[2]} class="md:row-start-2 md:col-start-1" />
      <FlavorCard {...items[3]} class="md:row-start-2 md:col-start-2" />
      <FlavorCard {...items[4]} class="md:row-start-3 md:col-start-1" />
      <FlavorCard {...items[5]} class="md:row-start-3 md:col-start-2" />
      <FlavorCard {...items[6]} class="md:row-span-3 md:col-start-3 md:h-full" />
    </div>
  ) : items.length === 5 ? (
    <div class="grid grid-cols-1 md:grid-cols-3 md:grid-rows-2 gap-6 mt-10">
      <FlavorCard {...items[0]} class="md:row-start-1 md:col-start-1" />
      <FlavorCard {...items[1]} class="md:row-start-1 md:col-start-2" />
      <FlavorCard {...items[2]} class="md:row-start-2 md:col-start-1" />
      <FlavorCard {...items[3]} class="md:row-start-2 md:col-start-2" />
      <FlavorCard {...items[4]} class="md:row-span-2 md:col-start-3 md:h-full" />
    </div>
  ) : (
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-6 mt-10">
      {items.map((item) => <FlavorCard {...item} />)}
    </div>
  )}
  
  
  
  
</WidgetWrapper>
